body{
    background-color: #FAFAFA;
    margin-top: 10vh;
}

.container {
    max-width: 100vh;
    margin: 0 auto;
    padding: 0px;
}

input{
    background: whitesmoke;
}

.input-container{
    background-color: whitesmoke;
    box-shadow: 
        -5px 5px 10px rgba(0, 0, 0, 0.2),
        5px 5px 10px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.2); 
}


li {
    font-size: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

ul{
    padding: 0;
    width: 100vh;
    margin: auto;

}

h1{
    color: #F2E9EA;
    font-size: 10vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

input{
    font-size: medium;
    border: none;
    width: 100%;
}

.cuenta-tareas {
    color: grey;
    font-size: small;
    margin-top: 0;
    text-align: left;
    padding: 5px;
}